/*--------------Estilos generales--------------*/
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-size: 8px;
}

@font-face{
    font-family: "Coves";
    src: url("../fonts/Coves\ Light.otf");

    font-family: "Sharpe";
    src: url("../fonts/SharpeTh_PERSONAL.ttf");
  }

body {
    font-family: "Sharpe";
}

a {
    text-decoration: none;
  }

ul, ol {
    list-style: none;
}

/*--------------Header--------------*/

/* .header{
    background-color: aliceblue;
} */

.headerAnimation{
    width: 100%;
    height: 94vh;
}

.navMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6vh;
    position: sticky;
    top: 0px;
}

.navMenu nav ul{
    display: flex;
    justify-content: space-evenly;
}

.navMenu nav ul li a{
    font-size: 2.5rem;
    font-family: "Coves";
    font-weight: bold;
    color: black;
}

.imgIso{
    width: 32px;
    height: 32px;
}

/*--------------Primera seccion--------------*/
.indexFirstSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arqDefiniton{
    color: #1C4048;
    width: 85vw;
}

.arqDefiniton h2{
    font-size: 3rem;
    padding: 30px 0 15px;
    
}

.arqDefiniton article p{
    font-size: 2.3rem;
    text-align: justify;
}


.services{
    padding-top: 30px;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.services h2{
    font-size: 3rem;
    color: #1C4048;
    padding-bottom: 10px;
    
}

.servMatrix{
    width: 100vw;
    display: flex;
    flex-direction: column;
            
}


.servMatrix article{
    background-color: #8D9FA3;
    color: white;
    height: 150px;
    min-width: 300px;
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}

.servMatrix article h3{
    font-size: 3rem;
    padding: 10px;
}
/*--------------Decoracion--------------*/
.decorationBox{
    background-color: #EBE1DB;
    width: 60%;
    min-width: 400px;
    height: 200vh;
    position: absolute;
    right: 0;
    z-index: -1;
}

/*--------------Segunda seccion--------------*/
.indexSecondSection{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectInfo{
    color: #1C4048;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.projectInfo h2{
    font-size: 3rem;
    padding: 30px 0 15px;
}

.projectInfo article{
    width: 400px;
    display: flex;
    flex-direction: column;
}

.projectInfo article p{
    font-size: 1.75rem;
    text-align: justify;
    padding-bottom: 20px;
}

.projectInfo article button{
    font-size: 2rem;
    font-family: "Sharpe";
    font-weight: bold;
    color: #EA9B99;
    background: none;
    border-color: #EA9B99;
    width: fit-content;
    padding: 15px;
    align-self: end;
    border-width: medium;
    border-style: solid;
}

.imgCarrousel article img{
    width: 300px;
    height: 200px;
}

/*--------------Tercera seccion--------------*/
.indexThirdSection{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.indexThirdSection div img{
    width: 300px;
    height: 200px;
}

/*--------------Footer--------------*/

.footer img{
    width: 250px;
    height: 69px;

}

.info img{
    width: 16px;
    height: 16px;
}

.social img{
    width: 16px;
    height: 16px;
}

/*--------------Media queries--------------*/

@media (min-width: 400px) and (max-width: 768px){

    .imgIso{
        visibility: hidden;
    }

    .indexFirstSection{
        height: 100vh;
    }

    .servMatrix{
            width: inherit;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
    }
}

@media (min-width: 1201px){

    .imgIso{
        visibility: hidden;
    }

    .indexFirstSection{
        height: 100vh;
    }

    .servMatrix{
        width: 85vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }

}