.footer {
    img{
        width: 250px;
        height: 69px;
    }

}

.info {
    img{
        width: 16px;
        height: 16px;
    }
}

.social {
    img{
        width: 16px;
        height: 16px;
    }
}