footer{
    background-color: white;
    padding-top: 50px;
}

.footerContainer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.disclaimer {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    
    img{
        width: 250px;
        height: 69px;
    }

    p{
        font-size: 1.1rem;
    }

}

.info {
    width: 75vw;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;

    img{
        width: 32px;
        height: 32px;
        padding-right: 5px;
    }
}
.infoBox{
    display: flex;
    padding-bottom: 15px;
    align-items: center;
}

.social {
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;

    img{
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 401px) and (max-width: 1200px){

}

@media (min-width: 1201px){
    footer{
        display: flex;
        justify-content: center;
    }

    .footerContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 85vw;
    }

    .disclaimer{
        width: auto;
        grid-column: 1/2;
        grid-row: 1;
        padding-right: 30px;
    }

    .info{
        width: auto;
        grid-column: 2/3;
        padding-left: 30px;

    }

    .social{
        width: auto;
        grid-column: 3/4;
        display: flex;
        height: 100%;
        align-items: flex-end;
        justify-content: flex-end;
        img{
            margin-left: 20px;
        }
    }
}